@media screen and (max-width: 430px) {
.footer-advanced-aside{font-size: 12px;}
}
@media screen and (max-width: 1200px){
    .l-caption{font-size: 16px!important;}
    .address{display:none;}
    .r{right: -3px; }
    .up_search{display: none!important;}
}
@media screen and (max-width: 1024px) {
    #up_button, .box1{display: none;}
    .profile-creative{
        margin-left: 20%;}
    #hid{display: none;}
    #rassilka{display: none;}

    .ll-caption{padding-left: 0px; }

}
@media screen and (max-width: 768px) {
    .button-black {
        font-size: 12px!important;
    }
    .dop1{min-height: 0px!important;}
    #news{display: none;}


    .navbar-nav > li {
        margin-left: 1px;

    }
    #up_button{display: none;}
    #logo_in{display: block!important;padding-top: 7px;}
    #tmp{display: none!important;}
    .title-docor-text, .l-caption{font-size: 16px!important;}
    .jumbotron-classic-content h1{font-size: 18px!important;}
    .address{padding-left: 0px; padding-top: 20px;}
    .address li{}
    .footer-advanced{text-align: center;}
    .pre-img{height: 210px;}
    .rights span{font-size: 12px!important;}
    .media-logo{display:block;}
    .navbar-search{display: none}
    .navbar-right{padding-left: 15px!important;}

    #bs-example-navbar-collapse-1{
        background: rgba(59, 73, 100);
        z-index: 1000;
        position: fixed;
        margin-top: 3px;
    }
    #t-button{cursor: pointer;transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);}
    .box1{display: block;}
    .profile-creative{
        margin-left: 10%;}

}